/*
Thomas Glasser
2/18/2024
*/

/* CSS Reset */
body, header, nav, footer, main, h1, div, img, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    background-color: #636564;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile */
.mobile {
    display: block;
}

.mobile h1 {
    text-align: center;
    padding: 2%;
}

.mobile h1 .emblema-one-regular {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.mobile h3 {
    text-align: center;
    padding: 2%;
}

.mobile h3 .lora-regular {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}

/* Style rules to show mobile and hide tab-desk */
.tab-desk {
    display: none;
}

header {
    background-color: #1D0335;
}

nav {
    background-color: #1D0335;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 1px solid #f6eee4;
}

nav ul li a {
    display: block;
    color: white;
    padding: 0.5em 2em;
    text-decoration: none;
}

main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

main .link {
    color: #68121B;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

main .action {
    color: #1D0335;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

main .round {
    border-radius: 6px;
}

main #info ul{
    margin-left: 10%;
}

main #contact {
    text-align: center;
}

main .discord-link {
    background-color: #5757b9;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
}

main .discord-link a {
    color: #f6eee4;
    padding: 2%;
    width: 80%;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #1D0335;
    color: white;
    padding: 1% 0;
}

footer a {
    color: white;
    text-decoration: none;
}
