/*
Thomas Glasser
2/18/2024
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    background-color: #636564;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #1D0335;}

nav {
    background-color: #1D0335;

    ul {
        list-style-type: none;
        margin: 0;
        text-align: center;

        li {
            display: inline-block;
            font-size: 1.5em;
            font-family: Geneva, Arial, sans-serif;
            font-weight: bold;

            a {
                display: block;
                color: white;
                padding: 0.5em 2em;
                text-decoration: none;
            }
        }
    }
}

main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;

    p {
        font-size: 1.25em;
    }

    h3 {
        padding-top: 2%;
    }

    ul {
        list-style-type: square;
    }

    .link {
        color: #68121B;
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
    }

    .action {
        color: #1D0335;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }

    #contact {
        text-align: center;
    }
}

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #1D0335;
    color: white;
    padding: 1% 0;

    a {
        color: white;
        text-decoration: none;
    }
}
