/*
Thomas Glasser
2/18/2024
*/

/* CSS Reset */
body, header, nav, footer, main, h1, div, img, ul, section, table, caption, aside, figure, figcaption, td {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #636564;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile */
.mobile {
    display: block;
}

.mobile h1 {
    text-align: center;
    padding: 2%;
    margin: 2% 0 0 3%;
}

.mobile h1 .emblema-one-regular {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.mobile h3 {
    text-align: center;
    padding: 2%;
}

.mobile h3 .lora-regular {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}

/* Style rules to show mobile and hide tab-desk */
.tablet-desktop {
    display: none;
}

.desktop {
    display: none;
}

header {
    top: 20px;
    background-color: #1D0335;
    padding: 5% 0 0 0;
}

header img {
    margin: 0 auto;
}

nav {
    background-color: #1D0335;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

.mobile-nav a {
    color: white;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.nav-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    user-select: none;
}

.nav-icon div {
    height: 40px;
    width: 40px;
    color: #68121B;
}

.mobile-nav {
    display: block;
}

#nav-links {
    display: none;
}

main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

p {
    font-size: 1.25em;
}

ul {
    list-style-type: square;
}

.link {
    color: #68121B;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    color: #1D0335;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.round {
    border-radius: 6px;
}

#questions p {
    cursor: pointer;
}

#answer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#answer h2 {
    display: none;
    font-weight: bold;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px 10px black;
}

figure {
    border: 4px solid black;
    box-shadow: 6px 6px 10px black;
    max-width: 400px;
    margin: auto;
}

figcaption {
    padding: 2%;
    text-align: center;
}

.logo {
    max-height: 30%;
    max-width: 30%;
}

#info ul {
    margin-left: 10%;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
}

#contact, #form h2 {
    text-align: center;
}

.discord-link {
    background-color: #5757b9;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
}

.discord-link a {
    color: #f6eee4;
    padding: 2%;
    width: 80%;
    text-decoration: none;
}

.grid-4 {
    display: grid;
    grid-template-columns: auto auto;
}

fieldset, input, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-size: 1.25em;
    font-weight: bold;
}

label {
    display: block;
    padding-top: 2%;
}

#submit {
    margin: 0 auto;
    padding: 2%;
    display: block;
    background-color: #1D0335;
    color: white;
    font-size: 1.25em;
    border-radius: 10px;
}

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #1D0335;
    color: white;
    padding: 1% 0;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Media query for tablet viewport */
@media screen and (min-width: 620px) {
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    header {
        top: 0;
        padding: 0;
    }

    nav {
        padding: 1%;
        margin-bottom: 1%;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }

    nav li a {
        display: block;
        color: white;
        padding: 0.5em 2em;
        text-decoration: none;
    }

    .mobile-nav {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    aside {
        grid-column: 1 / span 2;
    }

    section h3 {
        font-size: 1.75em;
    }

    section {
        padding: 2%;
        border-right: 1px solid #1D0335;
    }

    section:last-child {
        border-right: none;
    }

    section h3 {
        text-align: center;
    }

    .logo {
        margin: auto;
        max-width: 50%;
        max-height: 50%;
    }

    form {
        margin: 0 auto;
        width: 70%;
    }
}

/* Media query for desktop viewport */
@media screen and (min-width: 1000px), print {
    .desktop {
        display: block;
    }

    .mobile-tablet {
        display: none;
    }

    nav li {
        font-size: 1.5em;
    }

    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: #1D0335;
        background-color: #f6eee4;
    }

    #info ul {
        margin-left: 5%;
    }

    .grid {
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
    }

    aside {
        grid-column: 1 / span 3;
        font-size: 2em;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 0 auto;
        table-layout: fixed;
        width: 100%
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th {
        border: 1px solid black;
        padding: 1%;
        background-color: #1D0335;
        color: white;
        font-size: 1.15em;
    }

    td {
        border: 1px solid black;
        padding: 1%;
        word-wrap: break-word;
    }

    tr:nth-child(odd) {
        background-color: gray;
    }

    form {
        width: auto;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }
}

/* Media query for large desktop viewport */
@media screen and (min-width: 1921px) {
    #wrapper {
        width: 1920px;
        margin: 0 auto;
    }

    .grid {
        grid-template-columns: auto auto auto auto;
    }

    aside {
        grid-column: 1 / span 4;
        font-size: 3em;
    }
}

/* Media query for print */
@media print {
    nav li a {
        color: black;
    }

    body {
        background-color: white;
        color: black;
    }

    footer {
        color: black;
    }
}
